@import url('/css/utils.css');

body {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8)
}

header {
  padding-bottom: 0;
}

h2 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  font-variant: small-caps;
}

#controls {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem 1rem;
  align-items: baseline;
  max-width: 100%;
}

label {
  width: 100%;
  text-align: right;
  justify-self: end;
  align-self: center;
}

input {
  padding: 0.125rem;
  align-self: center;
}

input[type=number] {
  width: 3rem;
}

#box-shadow-property {
  font-size: 3vmin;
  margin: 1rem;
}

#box-shadow-preview {
  height: 40vmin;
  width: 40vmin;
  background-color: red;
  border-radius: 5%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

kbd {
  font-family: 'Roboto Mono', 'Consolas', monospace;
}

a[data-tooltip] {
  margin: 4px;
}

@media (hover: none) {

  a[data-tooltip]:focus,
  a[data-tooltip]:hover,
  a[data-tooltip]:active {
    background-color: inherit;
    color: inherit;
  }
}

.tooltip {
  display: none;
  padding: 1em;
  border: 1px dashed #3e3e3e;
  border-radius: 1rem;
  margin: 0.5rem;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #3e3e3e;
  border-radius: 0.125rem;

  background-color: #3e3e3e;
  color: #cecece;
}

button:hover {
  background-color: #cecece;
  color: #3e3e3e;
}

button:active {
  background-color: #3e3e3e;
  color: white;
}

button.disabled {
  background-color: #cecece;
  color: #7e7e7e;
  border: 1px solid #7e7e7e;
}

.error {
  color: var(--red-hex);
}

.error[data-error] {
  position: relative;
}

.error[data-error]:hover::after {
  content: attr(data-error);
  position: absolute;
  top: 1.5em;
  left: 0;
  padding: 0.25rem;
  background-color: var(--red-hex);
  border: 1px dotted #3e3e3e;
  color: white;
  font-size: 75%;
  z-index: 100;
}