@import url('https://www.pellicciotta.com/hinolugi-support.js/css/reset.css');
@import url('https://www.pellicciotta.com/hinolugi-support.js/css/colors.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  display: grid;
  grid-template-rows: min-content auto;

  min-height: 100vh;
  height: 100%;

  background-color: #cecece;
  color:#3e3e3e;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* Landscape phone and bigger */
@media only screen and (min-width: 600px) {
  body {
    grid-template-rows: min-content auto min-content;
    padding: 1rem;
  }
}

h1 {
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 6;

  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-align: center;
}

h1 > img {
  height: 1em;
}

header > p {
  font-variant: small-caps;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  padding-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

main > p {
  width: 100%;
  text-align: center;
}

table {
  width: 80%;
  box-shadow: none;
  border-collapse: collapse;
}

table th, table td {
  padding: 0.5rem;
  border: 1px solid #3e3e3e;
}

table th {
  background-color: #3e3e3e;
  color: #cecece;
  text-align: left;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px dashed #3e3e3e;
}

a:hover {
  background-color: #3e3e3e;
  color: #cecece;
}

footer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: 1rem;
  font-variant: small-caps;
  font-size: 80%;

  padding: 0.25rem;
  padding-top: 1rem;
}

/* Landscape phone and bigger */
@media only screen and (min-width: 600px) {
  footer {
    display: flex;
  }
}