@import url('../utils.css');

body {
  background-color: rgba(var(--blue-components), 0.05);
  color: var(--blue-hex);
}

kbd {
  font-family: 'Roboto Mono', 'Consolas', monospace;
}

a[data-tooltip] {
  margin: 4px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(var(--blue-components), 0.5);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(var(--blue-components), 0.5);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(var(--blue-components), 0.5);
}

main {
  align-items: stretch;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#controls,
#add-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto Mono', 'Consolas', monospace;
  font-size: 150%;
  gap: 2px;
  margin-bottom: 2rem;
}

#amount {
  width: 100%;
}

#controls > * {
  opacity: 75%;
  outline: none;
}

#controls:hover > * {
  opacity: 100%;
}

#add-controls {
  margin-top: 2rem;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
}

input, input:focus {
  outline: none;
  min-width: 10rem;
  padding: 0.5rem;
  background-color: white;
  color: var(--blue-hex);
  border: 1px solid var(--blue-hex);
}

#select-conversion-input {
  width: 100%;
}

button {
  padding: 0.5rem;
  background-color: var(--blue-hex);
  border: 1px solid var(--blue-hex);
  color: white;
}

#add-controls > * {
  opacity: 75%;
  outline: none;
}

@media only screen and (min-width: 600px) {
  #controls>* {
    box-shadow: 10px 10px 8px #888888;
  }

  #add-controls>* {
    box-shadow: 10px 10px 8px #888888;
  }

  #add-controls>button:active {
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: 5px 5px 4px #444444;
  }

  #conversions {
    box-shadow: 10px 10px 8px #888888;
  }
}

#add-controls:hover > * {
  opacity: 100%;
}

#add-controls:active > * {
  opacity: 100%;
}

#output {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto Mono', 'Consolas', monospace;
  font-size: 100%;
  gap: 2rem;
}

#conversions {
  width: 100%;
  border: 1px solid var(--blue-hex);
  border-collapse: collapse;
  background-color: white;
  color: var(--blue-hex);
}

#conversions td {
  border: none;
  padding: 0.5rem;
}

.from-value, .to-value, .actions {
  justify-self: end;
  text-align: end;
}

.from-unit, .to-unit {
  justify-self: start;
  text-align: start;
}

.equal-sign {
  justify-self: center;
  text-align: center;
  background-color: inherit;
}

.from-value, .to-value, .from-unit, .to-unit, .equal-sign {
  white-space: pre;
}

.actions > button[data-action="delete"] {
  opacity: 25%;
}

tr:hover > td.actions > button[data-action="delete"] {
  opacity: 100%;
}